@{
    ViewBag.Title = "Developing Real-Time Web Applications";
}


<h2>Links:</h2>

<ul>
    <li>@Html.ActionLink("Controller", "Index", "NewsFeed")</li>
    <li>@Html.ActionLink("AsyncController", "Index", "NewsFeedAsync")</li>
    <li><a href="~/Handlers/NewsFeed.ashx">HTTP Handler</a></li>
    <li><a href="~/Handlers/NewsFeedAsync.ashx">Async HTTP Handler</a></li>
</ul>