@model IEnumerable<RealTimeWeb.Models.NewsStory>

@foreach (var item in Model) {
    <div class="story">
        <p class="title">@item.Id: <a href="@Html.Raw(item.Link)">@Html.Raw(item.Title)</a></p>
        <p class="description">@Html.Raw(item.Description)</p>
    </div>   
}
    